$aside-width: 241px !default;
$aside-header-min-height: 50px !default;
$aside-background: #fff !default;
$aside-z-index: 1049 !default;
$aside-header-border-bottom-width: 1px !default;
$aside-header-border-bottom-color: #e5e5e5 !default;
$aside-header-color: #fff !default;
$aside-backdrop-color: #000 !default;

.aside-open {
    transition: transform .3s;

    &.has-push-right {
        transform: translateX(-241px);
    }
}

.aside {

    background: $aside-background;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: $aside-z-index;

    &.left {
        left: 0;
        right: auto;
    }

    &.right {
        left: auto;
        right: 0;
    }

    &:focus {
        outline: 0;
    }

    .aside-dialog {

        .aside-header {

            background: #337ab7;
            border-bottom: $aside-header-border-bottom-width solid $aside-header-border-bottom-color;
            color: $aside-header-color;
            min-height: $aside-header-min-height;
            padding: 15px;

            .close {
                margin-right: -8px;
                padding: 4px 8px;
                color: $aside-header-color;
                font-size: 25px;
                opacity: .8;
            }
        }

        .aside-body {
            padding: 15px;
            position: relative;
        }

        .aside-footer {
            padding: 15px;
            text-align: right;
            border-top: $aside-header-border-bottom-width solid $aside-header-border-bottom-color;
            .btn + .btn {
                margin-bottom: 0;
                margin-left: 5px;
            }
            .btn-group .btn + .btn {
                margin-left: -1px;
            }
            .btn-block + .btn-block {
                margin-left: 0;
            }
        }
    }
}

.slideleft-enter {
    animation: slideleft-in .3s;
}

.slideleft-leave {
    animation: slideleft-out .3s;
}

@keyframes slideleft-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideleft-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slideright-enter {
    animation: slideright-in .3s;
}

.slideright-leave {
    animation: slideright-out .3s;
}

@keyframes slideright-in {

    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideright-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@media (max-width: 991px) {
    .aside {
        width: $aside-width;
    }
}

@media (min-width: 992px) {
    .aside {
        width: $aside-width;
    }
}

.aside-backdrop {

    background-color: $aside-backdrop-color;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s ease;
    z-index: 1040;

    &.in {
        filter: alpha(opacity = 50);
        opacity: .5;
    }
}
