.drilldown {
  overflow: hidden;
  width: 100%;
  padding: 10px;
  padding-top: 0px;
  background-color: $backgroundMenuColor;
  transform: translate3d(0, 0, 0);
  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: 10px;
  }
}
.drilldown-sub { display: none; }
.drilldown-back { font-weight: bold; }
