.color-is-black {
  color: $black !important;
}

.color-is-grey-darker {
  color: $grey-darker !important;
}

.color-is-grey-dark {
  color: $grey-dark !important;
}

.color-is-grey {
  color: $grey !important;
}

.color-is-grey-light {
  color: $grey-light !important;
}

.color-is-grey-lighter {
  color: $grey-lighter !important;
}

.color-is-white {
  color: $white !important;
}

.color-is-blue {
  color: $blue !important;
}

.color-is-info {
  color: $blue !important;
}

.color-is-green {
  color: $green !important;
}

.color-is-success {
  color: $green !important;
}

.color-is-orange {
  color: $orange !important;
}

.color-is-purple {
  color: $purple !important;
}

.color-is-red {
  color: $red !important;
}

.color-is-danger {
  color: $red !important;
}

.color-is-turquoise {
  color: $turquoise !important;
}

.color-is-yellow {
  color: $yellow !important;
}

.color-is-warning {
  color: $yellow !important;
}

.background-none {

  background: none !important;
}

.background-is-black {
  background-color: $black !important;
}

.background-is-grey-darker {
  background-color: $grey-darker !important;
}

.background-is-grey-dark {
  background-color: $grey-dark !important;
}

.background-is-grey {
  background-color: $grey !important;
}

.background-is-grey-light {
  background-color: $grey-light !important;
}

.background-is-grey-lighter {
  background-color: $grey-lighter !important;
}

.background-is-white {
  background-color: $white !important;
}

.background-is-blue {
  background-color: $blue !important;
}

.background-is-info {
  background-color: $blue !important;
}

.background-is-green {
  background-color: $green !important;
}

.background-is-success {
  background-color: $green !important;
}

.background-is-orange {
  background-color: $orange !important;
}

.background-is-purple {
  background-color: $purple !important;
}

.background-is-red {
  background-color: $red !important;
}

.background-is-danger {
  background-color: $red !important;
}

.background-is-turquoise {
  background-color: $turquoise !important;
}

.background-is-primary {
  background-color: $turquoise !important;
}

.background-is-yellow {
  background-color: $yellow !important;
}

.background-is-warning {
  background-color: $yellow !important;
}

.full-height-percent {
  height: 100% !important;
}

.full-height-vh {
  height: 100vh !important;
}

.full-width-percent {
  width: 100% !important;
}

.full-width-vw {
  width: 100vw !important;
}

.circular-square {
  img {
    border-radius: 50%;
  }
}

.is-fullwidth {

  width: 100%;
}

.is-paddingless {

  padding: 0 !important;

  @include mobile {
    padding: 0 !important;
  }

  @include tablet {
    padding: 0 !important;
  }

  @include touch {
    padding: 0 !important;
  }

  @include desktop {
    padding: 0 !important;
  }

  @include widescreen {
    padding: 0 !important;
  }
}

.border-none {

  border: 0;
  box-shadow: none;
}

.has-text-justify {
  text-align: justify;
}
