.on-focus-expanded {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  transition: all .4s ease-in-out;

  &:focus {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all .4s ease-in-out;
  }
}
