$irs-image-path: '../img/irs' !default;

.irs {
  display: block;
  position: relative;
  user-select: none;
}

.irs-line {
  display: block;
  outline: none !important;
  overflow: hidden;
  position: relative;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
  display: block;
  position: absolute;
  top: 0;
}

.irs-line-left {
  left: 0;
  width: 11%;
}

.irs-line-mid {
  left: 9%;
  width: 82%;
}

.irs-line-right {
  right: 0;
  width: 11%;
}

.irs-bar {
  display: block;
  left: 0;
  position: absolute;
  width: 0;
}

.irs-bar-edge {

  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;

  &.type_last {
    z-index: 2;
  }
}

.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}

.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}

.irs-from, .irs-to, .irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: $black;
  &.small {
    height: 4px;
  }
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: $black;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: $black;
  filter: alpha(opacity = 0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background: url('#{$irs-image-path}/sprite-skin-nice.png') repeat-x;
}

.irs {
  height: 40px;
}

.irs-with-grid {
  height: 60px;
}

.irs-line {
  height: 8px;
  top: 25px;
}

.irs-line-left {
  height: 8px;
  background-position: 0 -30px;
}

.irs-line-mid {
  height: 8px;
  background-position: 0 0;
}

.irs-line-right {
  height: 8px;
  background-position: 100% -30px;
}

.irs-bar {
  height: 8px;
  top: 25px;
  background-position: 0 -60px;
}

.irs-bar-edge {
  top: 25px;
  height: 8px;
  width: 11px;
  background-position: 0 -90px;
}

.irs-shadow {
  height: 1px;
  top: 34px;
  background: $black;
  opacity: 0.15;
}

.lt-ie9 .irs-shadow {
  filter: alpha(opacity = 15);
}

.irs-slider {
  width: 22px;
  height: 22px;
  top: 17px;
  background-position: 0 -120px;
  &.state_hover, &:hover {
    background-position: 0 -150px;
  }
}

.irs-min, .irs-max {
  color: $grey-dark;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: $radius;
}

.lt-ie9 {
  .irs-min,
  .irs-max {
    background: $grey;
  }
}

.irs-from,
.irs-to,
.irs-single {
  color: $white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: $radius;
}

.lt-ie9 {
  .irs-from, .irs-to, .irs-single {
    background: $grey-dark;
  }
}

.irs-grid-pol {
  background: $grey-light;
}

.irs-grid-text {
  color: $grey-dark;
}
