@mixin background-and-text-color {
  @each $colorname, $colornumber in $colorlists {

    &.text-is-#{$colorname} {
      color: $colornumber;
    }

    &.background-is-#{$colorname} {
      background-color: $colornumber;
    }
  }
}

@mixin circular--square {
  &.circular-square {
    img {
      border-radius: 50%;
    }
  }
}

@mixin mobile-responsive-handler($allow-mobile-table-view:'dont') {
  @if($allow-mobile-table-view == 'yes') {
    @include mobile {
      border: 0;

      thead,
      tfoot {
        display: none;
      }

      tr {
        border-bottom: 2px solid $border;
        display: block;
        margin-bottom: 10px;
      }

      td {
        border-bottom: 1px dotted $border;
        display: block;
        font-size: 13px;
        text-align: right;
      }

      td:last-child {
        border-bottom: 0;
      }

      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}



@mixin reset-text {
  font-family: $font-family-base;
  // We deliberately do NOT reset font-size or word-wrap.
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: $line-height-base;
  //text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
}
