.card-header {
  p.card-header-title {
    margin: 0;
  }
}

.card {
  @include background-and-text-color;
  @each $colorname, $colornumber in $colorlists {
    &.background-is-#{$colorname} {
      .card-header-title {
        color: findColorInvert($colornumber);
      }
      .card-footer {
        border-top: 1px solid findColorInvert($colornumber);
      }
      .card-footer-item {
        &:not(:last-child) {
          border-right: 1px solid findColorInvert($colornumber);
        }
      }
      .card-content {
        .content {
          p {
            color: findColorInvert($colornumber);
          }
        }
      }
    }
  }
}

.control {
  &.controll-header {
    margin: 0;
    margin-top: 5px;
    span.select:not(:last-child) {
      margin-right: 7px;
    }
  }
}


.title,
.subtitle {
  @each $colorname, $colornumber in $colorlists {
    &.text-is-#{$colorname} {
      color: $colornumber;
    }
  }
}

.content-scrollable {
  height: 300px;
  position: relative;
}

.content-scrollable-side-menu {
  min-height: 300px;
  position: relative;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
}
