//https://codyhouse.co/gem/vertical-timeline/

@mixin border-radius() {
  border-radius: $radius;
}

.tl-timeline {
  position: relative;
  padding: 2em 0;
  margin: {
    top: 2em;
    bottom: 2em;
  }

  &::before {

    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($section-background, 5%);
  }

  @include desktop {
    margin: {
      top: 3em;
      bottom: 3em;
    }

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.tl-timeline-block {
  position: relative;
  margin: 2em 0;

  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tl-timeline-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 17px;
  box-shadow: 0 0 0 4px $grey-light, inset 0 2px 0 rgba($black, .08), 0 3px 0 4px rgba($black, .05);

  @include desktop {
    width: 13px;
    height: 13px;
    left: 50%;
    margin-top: 25px;
    margin-left: -7px;
  }
}

.tl-timeline-content {
  position: relative;
  margin-left: 40px;
  background: $grey-lighter;
  @include border-radius;
  padding: 1em;
  box-shadow: 0 3px 0 darken($background, 5%);
  @include clearfix;
  .tl-read-more,
  .tl-date {
    display: inline-block;
  }
  p {
    margin: 1em 0;
    line-height: 1.6;
  }
  .tl-date {
    float: left;
    padding: 0.8em 0;
    opacity: 0.7;
    margin-right: 7px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $grey-lighter;
  }

  @include desktop {
    margin-left: 0;
    padding: 1.6em;
    width: 46%;
    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: $grey-lighter;
    }
    .tl-read-more {
      float: left;
    }
    .tl-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
    }
    .tl-timeline-block:nth-child(even) & {
      float: right;
      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $grey-lighter;
      }
      .tl-read-more {
        float: right;
      }
      .tl-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }
  }
}
